//Login-Page
@import "login";
//Home-Page
@import "home";
//Sign In-Page
@import "signin";
$primary-color  : #6504b5;
$secondary-color:#EFEEF1;
$thired-color   :#4D4751;
$main-font      :'Montserrat',
sans-serif;
$jura-font:"Jura",sans-serif;

#signin{
    height: auto;
   background-image: url("../img/360_F_228670737_QtftGXJAHbLmN4IerXpNqCbuSk1mncX3.jpg");
   background-position: center;
   background-size: cover;
font-family: $jura-font;
   input , select {
    margin: 10px auto;
   padding: 10px;
   width: 80%;
   border-radius: 10px;
   border: 1px solid white;
   &:focus{
    border: 1px solid $primary-color;
    outline-color: #d4851e;
   }
}

button{
    border: 3px solid #d4851e;
background-color: #d4851e;
font-weight: 600;
color: white;
border-radius: 20px;
transition: all 0.5s;
&:hover{
    background-color: transparent;
   border-top-left-radius: 0px;
   border-bottom-right-radius: 0px;
 }
    
}

.sign-inner{
    background-color: #6504b560;
    border-radius: 20px;
    box-shadow: 0px 0px 28px rgba(199, 53, 187, 0.295);
} 
p  {
    color: #c60bcc;
    font-weight: 700;
}
h1{
    position: relative;
    
}
i{
    color: #c77e1e;
    font-size: 25px;
    
}
h1::before{
content: "";
height: 3px;
position: absolute;
width: 100px;
bottom: 0;
background-color: #d4851e;
border-radius: 2px;
left: 50%;
transform: translate(-50%,-50%);
}
select{
    
  option{
   color: #c71eb9;
   font-weight: 600;
  }
}
}