$primary-color  : #6504b5;
$secondary-color:#EFEEF1;
$thired-color   :#4D4751;
$main-font      :'Montserrat',
sans-serif;

a {

    text-decoration: none;
}

// @mixin theme($theme: DarkGray) {
//     background: $theme;
//     box-shadow: 0 0 1px rgba($theme, .25);
//     color: #fff;
//   }

header {

    #top {
        background-color: $secondary-color;
        border-bottom   : 1px solid gainsboro;

        .purina {
            .purina-logo {
                img {
                    width: 70px;
                }
            }

            span {
                font-size     : 8px;
                font-weight   : bold;
                letter-spacing: 2px;
                text-transform: uppercase;
                white-space   : nowrap;
            }
        }


        a {
            color      : black;
            font-family: $main-font;
            font-size  : 14px;
            font-weight: 300;


            span {
                color          : $primary-color;
                text-decoration: underline;
            }
        }

    }


    nav {
        position: relative;

        .top-nav {
            background-color: $secondary-color;

            .petfinder-logo {
                img {
                    width: 130px;
                }
            }

            .main-navigation {
                li {
                    list-style    : none;
                    font-weight   : 700;
                    font-family   : $main-font;
                    text-transform: uppercase;
                    padding       : 5px 40px 5px 0px;

                    a {
                        text-decoration: none;
                        color          : $thired-color;

                        &:checked {
                            color: red;
                        }
                    }

                    span {
                        padding: 0 8px;
                    }

                }
            }

            .profile-navigation {
                // white-space:nowrap;
                float: right;

                span {
                    color      : $thired-color;
                    font-weight: 500;
                    font-family: $main-font;
                    padding    : 0 0 0 25px;

                }

                .icon {
                    font-size   : 25px;
                    border-right: 1px solid rgb(216, 216, 216);
                    padding     : 15px;

                }
            }



        }

        .buttom-nav {
            color           : white;
            background-color: $primary-color;
            position        : absolute;
            width           : 100vw;
            font-family     : $main-font;
            z-index         : 1;

            .breed-menu {
                li {
                    border-right: 1px solid black;
                    padding     : 0 40px;
                }
            }

            .breed-menu,
            .resource-menu {
                display       : none;
                text-align    : center;
                text-transform: uppercase;
                font-weight   : 300;
                font-size     : 15px;

                li {
                    list-style : none;
                    white-space: nowrap;
                    position   : relative;

                    &:last-child {
                        border: none;
                    }

                    ul {
                        //display: none;
                        max-height                : 0;
                        max-width                 : 300px;
                        overflow                  : hidden;
                        background-color          : #3a0466;
                        position                  : absolute;
                        top                       : 38px;
                        left                      : -30px;
                        padding                   : 0;
                        text-align                : left;
                        border-bottom-left-radius : 15px;
                        border-bottom-right-radius: 15px;
                        transition                : all 1s;
                        white-space               : wrap;
                        text-transform            : none;

                        li {
                            padding: 10px 10px;
                            color  : rgb(219, 217, 217);

                            &:hover {
                                text-decoration: underline;
                                color          : white;
                            }
                        }
                    }

                    &:hover {
                        ul {
                            max-height: 500px;
                        }

                    }
                }
            }
        }
    }

    #hero {
        background-color: rgb(230, 230, 230);

        // .hero-img {
        //     img{
        //     width     : 100%;
        //     @media(max-height:550px){
        //         height:80vh ;
        //     }
        //    @media(min-height:550px) 
        //    {
        //     height    : 60vh;
        //    }

        //     object-fit: cover;
        //     filter: brightness(70%);
        //     border-bottom: 8px solid $primary-color;
        // }}
        .hero-inner {
            @media (max-width:768px) {
                height: calc(40vh + 450px);
            }

            @media (max-width:450px) {
                height: calc(30vh + 450px);
            }

            @media (min-width:768px) {
                height: calc(15vh + 450px);
            }

            @media (min-width:800px) {
                height: calc(10vh + 450px);
            }

            background-color: rgb(230, 230, 230);

            .hero-body {
                background-image   : linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/1140\ hero\ image_0.jpg);
                background-repeat  : no-repeat;
                background-size    : cover;
                background-position: center;
                height             : 450px;
                margin-bottom      : 5px;
                border-bottom      : 8px solid $primary-color;
                font-family        : $main-font;

                .search-box {
                    background-color: white;
                    width           : 100%;
                    border-radius   : 3px;

                    span {
                        font-size: 30px;
                        color    : $thired-color;
                    }

                    input {
                        width        : 45%;
                        border       : none;
                        height       : 60px;
                        padding      : 15px;
                        font-weight  : 600;
                        border-radius: 3px;

                        &:focus {
                            border       : 1px solid $primary-color;
                            border-bottom: 3px solid $primary-color;
                            border-radius: 5px;
                            outline      : none;
                        }
                    }

                    button {
                        border             : none;
                        color              : white;
                        // background-color: $primary-color;
                        background-color   : $primary-color;
                        margin             : 5px;
                        padding            : 10px 15px;
                        border-radius      : 5px;
                    }
                }

                .title {
                    color      : white;
                    text-shadow: 0px 0px 3px white;
                }

                .hero-cards {
                    //margin-top: 10vh;
                    // overflow:-moz-hidden-unscrollable;
                }

                .hero-card {

                    background-color: white;
                    border-radius   : 10px;
                    font-family     : $main-font;
                    transition: all 1s;
color: $thired-color;

                    img {
                        max-width: 100%;
                        width    : auto;
                        height   : auto;
                        border   : transparent;

                    }

                    &:hover {
                        border          : 1px solid $primary-color;
                        background-color: rgb(228, 222, 222);
                    }
                }
            }
        }


    }
}

main {
    font-family: $main-font;
    #animal {
        background-color: rgb(230, 230, 230);
        .animal-title {
            a {
                color      : $primary-color;
                font-weight: 600;
            }

        }

        .animal-box-little {
            color           : $primary-color;
            font-weight     : 600;
            background-color: white;
            border-radius   : 10px;
            overflow        : hidden;
            transition: all 1s;
            img{
                transition: all 1s;
            }
            

            .pet-img {
                width   : 100%;
                overflow: hidden;
            }

            p {
                background-color       : white;
                border-top-left-radius : 50%;
                border-top-right-radius: 50%;
                position               : relative;
                bottom                 : 25px;
                transition: all 1s;
            }
            &:hover{
                background-color: $primary-color;
                p{
                    background-color: $primary-color;                color: white;
                    color: white;

                }
             img{
                opacity: 0.5;
             }
            }
        }

        .more-box{
            background-color: $primary-color;
            border-radius:10px ;
            color: white;
            border: 1px solid $primary-color;
            overflow: hidden;
            p:last-child{
                border-top: 1px solid black ;
                transition: all 1s;
               
            }
            &:hover{
                p:last-child{
                    background-color: #EFEEF1;
                    color: $primary-color;
                    border-top-left-radius : 20%;
                border-top-right-radius: 20%;
                }
                
            }
        }
    }

    #plan{
        h2{
            color: $thired-color;
        }
        .plan-card{
            h4 ,a{
                color: rgb(13, 13, 82);
            }
            a{
                border: 2px solid rgb(170, 231, 250);
                border-radius: 20px;
                font-weight: 600;
                transition: all 0.5s;
                &:hover{
                    color: white;
                    background-color:rgb(170, 231, 250) ;
                }
            }
        }
    }
}