#login {
  font-family: "Jura", sans-serif;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(182, 118, 23, 0.26), rgba(0, 0, 0, 0.5)), url("../img/Introducing-a-cat-or-kitten-to-your-dog.png");
}
#login input {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: none;
}
#login input:focus {
  border: 1px solid #6504b5;
  outline-color: #d4851e;
}
#login .log-inner {
  background-color: rgba(101, 4, 181, 0.3411764706);
  border-radius: 20px;
  box-shadow: 0px 0px 28px rgba(255, 255, 255, 0.329);
}
#login a, #login h1 {
  color: white;
}
#login p {
  color: #d4851e;
}
#login button {
  border: 3px solid #d4851e;
  background-color: #d4851e;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#login button:hover {
  background-color: transparent;
  color: #d4851e;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#login h1 {
  position: relative;
}
#login h1::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100px;
  bottom: 0;
  background-color: #d4851e;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

header #top {
  background-color: #EFEEF1;
  border-bottom: 1px solid gainsboro;
}
header #top .purina .purina-logo img {
  width: 70px;
}
header #top .purina span {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
header #top a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
header #top a span {
  color: #6504b5;
  text-decoration: underline;
}
header nav .top-nav {
  background-color: #EFEEF1;
}
header nav .top-nav a {
  color: #4D4751;
}
header nav .top-nav .petfinder-logo img {
  width: 130px;
}
header nav .top-nav .main-navigation li {
  list-style: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 5px 40px 5px 0px;
}
header nav .top-nav .main-navigation li a {
  color: #4D4751;
}
header nav .top-nav .main-navigation li a:checked {
  color: red;
}
header nav .top-nav .main-navigation li span {
  padding: 0 8px;
}
header nav .top-nav .profile-navigation {
  float: right;
}
header nav .top-nav .profile-navigation span {
  color: #4D4751;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 0 25px;
}
header nav .top-nav .profile-navigation .icon {
  font-size: 25px;
  border-right: 1px solid rgb(216, 216, 216);
  padding: 15px;
}
header nav .buttom-nav {
  color: white;
  background-color: #6504b5;
  position: absolute;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}
header nav .buttom-nav .breed-menu li {
  border-right: 1px solid black;
  padding: 0 40px;
}
header nav .buttom-nav .breed-menu,
header nav .buttom-nav .resource-menu {
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  max-width: 100%;
}
header nav .buttom-nav .breed-menu a,
header nav .buttom-nav .resource-menu a {
  color: white;
}
header nav .buttom-nav .breed-menu li,
header nav .buttom-nav .resource-menu li {
  list-style: none;
  white-space: nowrap;
  position: relative;
}
header nav .buttom-nav .breed-menu li:last-child,
header nav .buttom-nav .resource-menu li:last-child {
  border: none;
}
header nav .buttom-nav .breed-menu li:hover,
header nav .buttom-nav .resource-menu li:hover {
  text-shadow: 2px 8px 8px white;
}
header nav .buttom-nav .breed-menu li ul,
header nav .buttom-nav .resource-menu li ul {
  max-height: 0;
  max-width: 300px;
  overflow: hidden;
  background-color: #3a0466;
  position: absolute;
  top: 38px;
  left: -30px;
  padding: 0;
  text-align: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 1s;
  white-space: wrap;
  text-transform: none;
}
header nav .buttom-nav .breed-menu li ul li,
header nav .buttom-nav .resource-menu li ul li {
  padding: 10px 10px;
  color: rgb(219, 217, 217);
}
header nav .buttom-nav .breed-menu li ul li:hover,
header nav .buttom-nav .resource-menu li ul li:hover {
  text-decoration: underline;
  color: white;
}
header nav .buttom-nav .breed-menu li:hover ul,
header nav .buttom-nav .resource-menu li:hover ul {
  max-height: 500px;
}

main {
  font-family: "Montserrat", sans-serif;
}
main #hero {
  background-color: rgb(230, 230, 230);
}
main #hero .hero-img img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
  border-bottom: 8px solid #6504b5;
}
@media (max-height: 550px) {
  main #hero .hero-img img {
    height: 80vh;
  }
}
@media (min-height: 550px) {
  main #hero .hero-img img {
    height: 60vh;
  }
}
main #hero .hero-inner {
  background-color: rgb(230, 230, 230);
  position: relative;
}
main #hero .hero-inner .hero-body .search-box {
  background-color: white;
  width: 55vw;
  border-radius: 3px;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #hero .hero-inner .hero-body .search-box span {
  font-size: 30px;
  color: #4D4751;
}
main #hero .hero-inner .hero-body .search-box input {
  width: 45%;
  border: none;
  height: 60px;
  padding: 15px;
  font-weight: 600;
  border-radius: 3px;
}
main #hero .hero-inner .hero-body .search-box input:focus {
  border: 1px solid #6504b5;
  border-bottom: 3px solid #6504b5;
  border-radius: 5px;
  outline: none;
}
main #hero .hero-inner .hero-body .search-box button {
  border: none;
  color: white;
  background-color: #6504b5;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
}
main #hero .hero-inner .hero-body .title {
  color: white;
  text-shadow: 0px 0px 3px white;
  width: 100%;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #hero .hero-inner .hero-body .hero-cards {
  position: relative;
  bottom: 10vh;
}
main #hero .hero-inner .hero-body .hero-card {
  background-color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  transition: all 1s;
  color: #4D4751;
}
main #hero .hero-inner .hero-body .hero-card img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: transparent;
}
main #hero .hero-inner .hero-body .hero-card:hover {
  border: 1px solid #6504b5;
  background-color: rgb(228, 222, 222);
}
main #animal {
  background-color: rgb(230, 230, 230);
}
main #animal .advert-box {
  width: 100%;
}
main #animal .advert-box img {
  max-width: 100%;
  object-fit: cover;
}
main #animal .animal-title a {
  color: #6504b5;
  font-weight: 600;
}
main #animal .animal-box {
  color: #6504b5;
  font-weight: 600;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s;
}
main #animal .animal-box img {
  transition: all 1s;
}
main #animal .animal-box .pet-img {
  width: 100%;
  overflow: hidden;
}
main #animal .animal-box p {
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  bottom: 25px;
  transition: all 1s;
}
main #animal .animal-box:hover {
  background-color: #6504b5;
}
main #animal .animal-box:hover p {
  background-color: #6504b5;
  color: white;
  color: white;
}
main #animal .animal-box:hover img {
  opacity: 0.5;
}
main #animal .more-box {
  background-color: #6504b5;
  border-radius: 10px;
  color: white;
  border: 1px solid #6504b5;
  overflow: hidden;
}
main #animal .more-box p:last-child {
  border-top: 1px solid black;
  transition: all 1s;
}
main #animal .more-box:hover p:last-child {
  background-color: #EFEEF1;
  color: #6504b5;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
main #animal .article-card {
  background-color: white;
  color: #4D4751;
  border-radius: 20px;
  overflow: hidden;
}
main #animal .article-card .big-img {
  position: relative;
}
main #animal .article-card .big-img::before {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 0%;
  border-top-right-radius: 100%;
  transition: all 1s;
}
main #animal .article-card .big-img::after {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 0%;
  transition: all 1s;
}
main #animal .article-card .big-img img {
  width: 100%;
  height: 20%;
  object-fit: cover;
}
main #animal .article-card .little-img {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  bottom: -25px;
  border: 6px solid white;
  border-radius: 50%;
  z-index: 1;
  transition: all 1s;
}
main #animal .article-card .little-img img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  object-position: center;
  overflow: hidden;
}
main #animal .article-card .article-text p:last-child {
  border-top: 1px solid #4D4751;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s;
}
main #animal .article-card:hover .big-img::before {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 0;
}
main #animal .article-card:hover .big-img::after {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 100%;
}
main #animal .article-card:hover .big-img .little-img {
  bottom: 0;
}
main #animal .article-card:hover p:last-child {
  background-color: #6504b5;
  color: white;
}
main #plan h2 {
  color: #4D4751;
}
main #plan .plan-card h4,
main #plan .plan-card a {
  color: rgb(13, 13, 82);
}
main #plan .plan-card span {
  border: 2px solid rgb(61, 198, 223);
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.5s;
}
main #plan .plan-card span:hover {
  color: white;
  background-color: rgb(61, 198, 223);
}

footer #footer-top {
  background-color: #6504b5;
  color: white;
}
footer #footer-top .footer-inner li {
  list-style: none;
  transition: all 0.2s;
  color: rgb(231, 211, 247);
  padding: 5px 0;
}
footer #footer-top .footer-inner li:hover {
  list-style: circle;
  font-size: 20px;
  color: white;
}
footer #footer-top .sign a {
  color: white;
}
footer #footer-top .sign span {
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.5s;
  font-weight: 500;
}
footer #footer-top .sign span:hover {
  background-color: white;
  color: #6504b5;
}
footer #footer-bottom {
  background-color: #3a0466;
  color: white;
}
footer #footer-bottom p {
  font-size: 12px;
}
footer #footer-bottom .social-media a {
  color: rgb(243, 166, 253);
  padding: 0 10px;
  font-size: 20px;
  transition: all 0.3s;
}
footer #footer-bottom .social-media a:hover {
  color: white;
  text-shadow: 2px 2px 28px white;
}
#signin {
  height: auto;
  background-image: url("../img/360_F_228670737_QtftGXJAHbLmN4IerXpNqCbuSk1mncX3.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Jura", sans-serif;
}
#signin input, #signin select {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid white;
}
#signin input:focus, #signin select:focus {
  border: 1px solid #6504b5;
  outline-color: #d4851e;
}
#signin button {
  border: 3px solid #d4851e;
  background-color: #d4851e;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#signin button:hover {
  background-color: transparent;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#signin .sign-inner {
  background-color: rgba(101, 4, 181, 0.3764705882);
  border-radius: 20px;
  box-shadow: 0px 0px 28px rgba(199, 53, 187, 0.295);
}
#signin p {
  color: #c60bcc;
  font-weight: 700;
}
#signin h1 {
  position: relative;
}
#signin i {
  color: #c77e1e;
  font-size: 25px;
}
#signin h1::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100px;
  bottom: 0;
  background-color: #d4851e;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signin select option {
  color: #c71eb9;
  font-weight: 600;
}