header #top {
  background-color: #EFEEF1;
  border-bottom: 1px solid gainsboro;
}
header #top .purina .purina-logo img {
  width: 70px;
}
header #top .purina span {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
header #top a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
header #top a span {
  color: #6504b5;
  text-decoration: underline;
}
header nav {
  background-color: #EFEEF1;
}
header nav .petfinder-logo img {
  width: 130px;
}
header nav .main-navigation li {
  list-style: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 5px 40px 5px 0px;
}
header nav .main-navigation li a {
  text-decoration: none;
  color: #4D4751;
}
header nav .main-navigation li a:checked {
  color: red;
}
header nav .main-navigation li span {
  padding: 0 8px;
}
header nav .profile-navigation {
  float: right;
}
header nav .profile-navigation span {
  color: #4D4751;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 0 0 0 25px;
}
header nav .profile-navigation .icon {
  font-size: 25px;
  border-right: 1px solid rgb(216, 216, 216);
  padding: 15px;
}